@charset "UTF-8";
$background: rgba(0,0,0,.1);

*{
  margin: 0;
  padding: 0;
}

html,
body{
  width: 100%;
  height: 100%;
  background-color: $background;
}
.btn{
  margin-left: 4px;
}
.apresentação{
  margin-top: 300px;
  width: 5599px;
 height: 3733px;
  background-image: url("../images/natal1.jpg") ;
}

#destaques{
  padding: 16px;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  flex-direction: row;
  text-align: center;
}

h2{
  text-align: center;
  padding: 8px;
  font-weight: bolder;
  font-size: 3em;
}

#card{
  margin-bottom: 8px;
  text-align: center;
  align-items: center;
}
